@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../public/assets/fonts/Avenir/font.css';

:root {
  --primary: rgba(24, 112, 186, 1);
  --primary-dark: rgba(9, 77, 180, 1);
  --primary-transparent-30: rgba(24, 112, 186, 0.3);
  --primary-transparent-40: rgba(24, 112, 186, 0.4);
  --primary-transparent-50: rgba(24, 112, 186, 0.5);
  --primary-transparent-60: rgba(24, 112, 186, 0.6);
  --primary-transparent-70: rgba(24, 112, 186, 0.7);
  --primary-transparent-80: rgba(24, 112, 186, 0.8);
  --secondary: rgba(227, 210, 30, 1);
  --black: rgb(0, 0, 0);
  --black-transparent-30: rgba(0, 0, 0, 0.3);
  --black-transparent-40: rgba(0, 0, 0, 0.4);
  --black-transparent-50: rgba(0, 0, 0, 0.5);
  --black-transparent-60: rgba(0, 0, 0, 0.6);
  --black-transparent-70: rgba(0, 0, 0, 0.7);
  --black-transparent-80: rgba(0, 0, 0, 0.8);
}

html,
body {
  height: 100vh;
  min-width: 320px;
}
